
<footer class="w-full h-fit flex flex-wrap py-[50px] pt-[80px] justify-between items-start px-[50px]">
    <ul class="flex flex-col text-[17px] gap-[5px] text-[gray]">
        <p class="pb-[10px] font-semibold text-black text-lg">Menu</p>
        <li>How to order</li>
        <li>Where we deliver</li>
        <li>FAQs</li>
        <li>Contact</li>
    </ul>
    <ul class="flex flex-col text-[17px] gap-[5px] text-[gray]">
        <p class="pb-[10px] font-semibold text-black text-lg">About</p>
        <li>Why Rune?</li>
        <li>Where we deliver</li>
        <li>FAQs</li>
    </ul>
    <ul class="flex flex-col text-[17px] gap-[5px] text-[gray]">
        <p class="pb-[10px] font-semibold text-black text-lg">Contact us</p>
        <li class="flex items-center justify-center w-[245px] gap-[10px]"><img src="./assets/images/Frame.png" alt=""> 30 Kakawa St, Victoria Island, 
            Lagos, Nigeria.</li>
            <br>
        <li class="flex items-start  justify-start w-[245px] gap-[10px]"><img src="./assets/images/Vector.png">+234  9 108 6019</li>
        <br>
        <li class="flex items-start  justify-start w-[245px] gap-[10px]"><img src="./assets/images/Frame (1).png">www.runeNg.com</li>
    </ul>
    <ul class="flex flex-col gap-[5px] text-[gray]">
        <p class="pb-[10px] font-semibold text-black text-lg">Follow Us</p>
        <img src="./assets/images/Frame 13.png" alt="">
    </ul>
</footer>