<section>
    <app-navbar></app-navbar>
    <header class="w-full h-fit gap-[15px] flex flex-col items-center justify-center">
       <span class="text-4xl font-semibold py-[30px]">
        Delivery Address
       </span>
       <div class="w-[635px] mobile:w-[95%] mobile:mx-auto flex bg-[#EBEBEB] px-[14px] py-[10px] items-center justify-between h-fit gap-[20px]">
        <span class="flex flex-col gap-[10px] items-start justify-center">
            <span class="text-xl font-medium">Home Address</span>
            <p class="text-[16px] font-medium">No 26 Ademola, adetokumbo Str, Victoria Island, Lagos state.</p>
        </span>
        <input class="accent-[#1E9658] w-[17px] border-none h-[17px]" type="radio" name="" id="">
       </div>
       <div class="w-[635px] mobile:w-[95%] mobile:mx-auto flex bg-[#EBEBEB] px-[14px] py-[10px] items-center justify-between h-fit gap-[20px]">
        <span class="flex flex-col gap-[10px] items-start justify-center">
            <span class="text-xl font-medium">Office Address</span>
            <p class="text-[16px] font-medium">No 16 Saheed Sanni Str, Ajah , Lagos state.</p>
        </span>
        <input class="accent-[#1E9658] w-[17px] border-none h-[17px]" type="radio" name="" id="">
       </div>
       <div class="w-fit mobile:w-full flex-col h-fit pt-[60px] flex items-center justify-center gap-[15px]">
        <button class="h-fit text-[#1E9658] text-[20px] w-[458px] mobile:w-[85%] mobile:text-[15px] border-[1px] py-[12px] border-[#1E9658]">Add New Delivery Address </button>
        <button class="h-fit text-white text-[20px] w-[458px] mobile:w-[85%] mobile:text-[15px] bg-[#1E9658] py-[12px]">Proceed to Payment </button>
       </div>
    </header>
    <app-footer></app-footer>
</section>